header {
  display: flex;
  align-items: center;
  padding: 20px 200px;
  justify-content: space-between;

  @media (max-width: 1400px) {
    flex-direction: column;
  }

  @media (max-width: 900px) {
    padding: 20px 100px;
  }

  @media (max-width: 768px) {
    flex-direction: row;
    padding: 20px 50px;
  }

  .logoContainer {
    height: 50px;

    img {
      height: 100%;
    }
  }

  .navItems {
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin: 0 9vw;

    @media (max-width: 1400px) {
      margin: 30px;
      width: 100%;
    }

    @media (max-width: 768px) {
      display: none;
    }

    a {
      text-decoration: none;
      color: #586871;
      // font-size: 0.8rem;
      font-size: 14px;
      font-style: normal;
      font-family: Inter;
      font-weight: 500;
      line-height: 19px;
      font-weight: bold;
    }
  }

  .registrationItems {
    .loginBtn {
      color: #c0a161;
      margin-right: 20px;
      font-weight: bold;
      font-size: 14px
    }
    .signinBtn {
      font-weight: bold;
      color: white;
      background-color: #009393;
      border-radius: 30px;
      padding: 10px 20px;
      font-size: 14px
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
}
