.latestNewsSection {
  padding: 100px 250px;
  background-color: white;

  @media (max-width: 1200px) {
    padding: 100px 100px;
  }

  @media (max-width: 768px) {
   padding: 20px;
  }

  h2 {
    text-align: center;
    color: #232323;
    font-size: 1.875rem;
    font-style: normal;
    font-family: Inter_Bold;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 20px;
  }

  .articlesContainer {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
     flex-direction: column;
    }

    article {
      width: 48%;

      @media (max-width: 768px) {
       width: 100%;
      }

      .imageContainer {
        img {
          width: 100%;
          height: 200px;
        }
      }

      .articleContent {
        background-color: #f4fafa;
        padding: 40px;
        min-height: 60%;

        h3 {
          margin: 14px 0;
          font-size: 1.375rem;
          font-style: normal;
          font-family: Inter_Bold;
          font-weight: 600;
          line-height: 30px;
          color: #009393;
        }

        p {
          font-size: 0.875rem;
          font-family: Inter;
          font-weight: 400;
          line-height: 25px;
          color: #586871;
          margin-bottom: 20px;
        }

        button {
          position: absolute;
          bottom: 0;
          margin: 20px 0;
          background-color: inherit;
          border: 0;
          color: #c0a161;
        }
      }
    }
  }

  .allnewsBtnContainer {
    display: flex;
    justify-content: center;
    margin: 30px;
    .allNewsBtn {
      border-radius: 40px;
      background-color: inherit;
      padding: 10px 25px;
      color: #c0a161;
      border: 1px solid rgba(192, 161, 97, 0.5);
    }
  }
}
