* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  position: relative;
}

html {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  width: 100%;
  max-width: 2000px;
  height: 100%;
  margin: 0 auto;
  color: #586871;
  background-color: #f9fafa;
}
